.container {
    height: 100vh; /* Full viewport height */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Text color */
    font-family: Arial, sans-serif;
    position: relative; /* Required for pseudo-element positioning */
}


.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.356);
    /* backdrop-filter: blur(5px);  */
    z-index: 1; 
}

/* Ensure content is above the overlay */
.title,
.description,
.btn {
    position: relative;
    z-index: 2; /* Above the overlay */
}

/* Default background for mobile */
.container {
    background-image: url('/background.jpg'); /* Mobile background image */
}

/* Change background for desktop */
@media (min-width: 768px) {
    .container {
        background-image: url('/background77.jpg'); /* Desktop background image */
    }
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffffff;
    padding: 15px;
    /* background: linear-gradient(to right, #FFFFFF, #bc8ac0); */
}

.description {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #0070f3; /* Button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #005bb5; /* Button hover color */
}






.customBtn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
   
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 10000;
    font-family: 'Gumela';

  }
  
  
  
  /* 9 */
  .customBtn {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .customBtn:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: all 0.3s ease;
  }
  .customBtn:hover {
    background: transparent;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #fff;
  }
  .customBtn:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }
  