@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'Kid Games';
  src: url('/fonts/Kid Games.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 
.Kid{
  font-family: 'Kid Games';
  /* font-size: large  ; */
}
@font-face {
  font-family: 'Gumela';
  src: url('/fonts/Gumela.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 
.game{
  font-family: 'Gumela';
}